@media (max-width: 1154px) {
    .form-container {
        width: 25rem;
        margin: 2em 8em 0 0;
    }
    .form-container form {
        width: 25rem;
        height: 70vh;

        padding: 1.5em 0 0 0;
    }
    .text-container {
        width: 45em;
        margin: 0 2em 0 5em;
    }
}
@media (max-width: 958px) {
    body {
        flex-direction: column;
        align-items: center;
    }
    .text-container {
        width: 35em;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 2vw 0 2vw 0;
    }
    .text-container h1 {
        text-align: center;
        width: 10em;
        margin: 0 0 0 0;
    }
    .form-container {
        width: 30rem;
        margin: 0;
    }
    .form-container form {
        width: 29rem;
        padding: 2em 0 0 0;
    }
}
@media(max-width:598px) {
    body {
        background: url("images/bg-intro-mobile.png");
        background-color: hsl(0, 100%, 74%); 
    }
    .text-container {
        width: 30em;
    }
    .text-container h1 {
        font-size: 2.0rem;
    }
    .text-container p {
        width: 20em;
    }
    .form-container {
        width: 25rem;
    }
    .form-container form {
        width: 24rem;
    }
}
@media (max-width:494px) {
    .text-container {
        width: 20em;
    }
    .text-container h1 {
        font-size: 1.5rem;
    }
    .text-container p {
        font-size: 1rem;
    }
    .form-container {
        width: 22rem;
    }
    .form-container form {
        width: 21rem;
    }
    .form-container button:first-child {
        width: 90%;
    }
}
@media (max-width:377px) {
    .text-container h1 {
        font-size: 1.2rem;
    }
    .text-container p {
        font-size: 0.8rem;
    }
    .form-container {
        width: 20rem;
    }
    .form-container form {
        width: 19rem;
    }
    .form-container button:first-child {
        width: 80%;
    }
}
@media (max-width:320) {
    .form-container {
        width: 17rem;
    }
    .form-container form {
        width: 17rem;
    }
}